@import "./fonts.scss";


$fa-font-path: "../webfonts";
//color
$color-background:#2B2C2C;
$color-yellow:#FBB632;
$color-dark:#2B2C2C;
$color-dark-2:#303131;
$color-overlay-1:#3AAEFD;
$color-overlay-2:#F9BE43;
$color-overlay-3:#C944DB;
$color-overlay-4:#3ED556;
$color-title:#9f9f9f;
$color-title-2:#cccccc;
$color-p:#8a8fa3;




//fonts
$font-navbar: 'Poppins',
sans-serif;